djangorestframework==3.11.0
drf-yasg==1.17.1
django-redis==4.12.1
django-import-export==2.2.0
django-silk==4.0.1
django-debug-toolbar==2.2
requests==2.23.0
demjson==2.2.4
celery==4.3.0
django-celery-beat==1.5.0
django-celery-results==1.1.2
redis==3.2.1
pyecharts==1.8.1