{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="NONE,NOARCHIVE"/>

    <title>首页 | 测试平台</title>

    <link href="{% static 'xadmin/vendor/bootstrap/css/bootstrap.css' %}"
          type="text/css" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" id="site-theme"
          href="{% static 'xadmin/css/themes/bootstrap-xadmin.css' %}"/>
    <link href="{% static 'xadmin/vendor/font-awesome/css/font-awesome.css' %}"
          type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'xadmin/css/xadmin.main.css' %}"
          type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'xadmin/css/xadmin.plugins.css' %}"
          type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'xadmin/css/xadmin.responsive.css' %}"
          type="text/css" media="screen" rel="stylesheet">
    <link href="{% static 'xadmin/css/xadmin.page.dashboard.css' %}"
          type="text/css" media="screen" rel="stylesheet">

    <script type="text/javascript"
            src="{% static 'xadmin/vendor/jquery/jquery.js' %}"></script>

</head>

<body class="dashboard">

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">测试平台</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <strong>欢迎你{{ user }}</strong></a>
            </li>
            <li>
                <a href="/logout/">
                    <i class="show-sm fa fa-sign-out"></i>
                    <span class="hide-sm">退出</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="body-content" class="clearfix row">
    <div id="left-side" class="col-sm-1 col-md-2">

        <div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-1">
                            <i class="fa-fw fa fa-github-square"></i>
                            产品管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-1" class="list-group panel-collapse collapse">
                    <a href="/product/" class="list-group-item">
                        <i class="fa-fw fa fa-apple"></i>
                        产品线列表
                    </a>
                    <a href="/module/" class="list-group-item">
                        <i class="fa-fw fa fa-android"></i>
                        模块列表
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-2">
                            <i class="fa-fw fa fa-github"></i>
                            用例管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-2" class="list-group panel-collapse collapse">
                    <a href="/case_group/" class="list-group-item">
                        <i class="fa-fw fa fa-linux"></i>
                        用例组列表
                    </a>
                    <a href="/interface/" class="list-group-item">
                        <i class="fa-fw fa fa-windows"></i>
                        用例列表
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-3">
                            <i class="fa-fw fa fa-github-alt"></i>
                            任务管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-3" class="list-group panel-collapse collapse">
                    <a href="/interval_schedule/" class="list-group-item">
                        <i class="fa-fw fa fa-backward"></i>
                        间隔时间列表</span>
                    </a>
                    <a href=/crontab_schedule/" class="list-group-item">
                        <i class="fa-fw fa fa-forward"></i>
                        定时时间列表</span>
                    </a>
                    <a href="/periodic_task/" class="list-group-item">
                        <i class="fa-fw fa fa-play-circle"></i>
                        任务设置列表</span>
                    </a>
                    <a href="/task_result/" class="list-group-item">
                        <i class="fa-fw fa fa-arrows-alt"></i>
                        任务结果列表</span>
                    </a>
                </div>
            </div>
        </div>

        <ul class="well nav nav-list nav-sitemenu show-sm">
            <li class="app_menu">
                <a href="/home/"><i class="icon fa-fw fa fa-home"></i></a>
                <hr/>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github-square"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/product/">
                            <i class="fa-fw fa fa-apple"></i>
                            产品线列表
                        </a>
                    </li>

                    <li>
                        <a href="/module/">
                            <i class="fa-fw fa fa-android"></i>
                            模块列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/case_group/">
                            <i class="fa-fw fa fa-linux"></i>
                            用例组列表
                        </a>
                    </li>
                    <li>
                        <a href="/interface/">
                            <i class="fa-fw fa fa-windows"></i>
                            用例列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github-alt"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/interval_schedule/">
                            <i class="fa-fw fa fa-backward"></i>
                            间隔时间列表
                        </a>
                    </li>
                    <li>
                        <a href="/crontab_schedule/">
                            <i class="fa-fw fa fa-forward"></i>
                            定时时间列表
                        </a>
                    </li>
                    <li>
                        <a href="/periodic_task/">
                            <i class="fa-fw fa fa-play-circle"></i>
                            任务设置列表
                        </a>
                    </li>
                    <li>
                        <a href="/task_result/">
                            <i class="fa-fw fa fa-arrows-alt"></i>
                            任务结果列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="content-block" class="col-sm-11 col-md-10">
        <div class="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">
                <p class="navbar-brand">
                    首页
                </p>
            </div>
        </div>
        <div class="dashboard row">
            <div class="col-sm-12 column" align="center">
                <img src="/static/img/home.gif" alt="人生苦短，Python当歌">
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <hr/>
    <footer class="text-center">
        <p>测试部门</p>
    </footer>
</div>

<script type="text/javascript"
        src="{% static 'xadmin/vendor/jquery-ui/jquery.ui.core.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/vendor/jquery-ui/jquery.ui.widget.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/vendor/jquery-ui/jquery.ui.mouse.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/vendor/jquery-ui/jquery.ui.sortable.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/js/xadmin.main.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/js/xadmin.responsive.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/vendor/jquery-ui/jquery.ui.effect.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/js/xadmin.page.dashboard.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/js/xadmin.plugin.portal.js' %}"></script>
<script type="text/javascript"
        src="{% static 'xadmin/js/xadmin.plugin.themes.js' %}"></script>

</body>
</html>

