<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="NONE,NOARCHIVE"/>

    <title>压测脚本列表 | 测试平台</title>

    <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css"/>
    <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen"
          rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet">

    <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>

    <style type="text/css">
        .btn-toolbar {
            margin-top: 0;
        }

        #content-block.full-content {
            margin-left: 0;
        }
    </style>

    <style type="text/css">
        table {
            table-layout: fixed;
        }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

</head>

<body class="change-list">

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">测试平台</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <strong>欢迎你{{ user }}</strong>
                </a>
            </li>
            <li>
                <a href="/logout/">
                    <i class="show-sm fa fa-sign-out"></i>
                    <span class="hide-sm">退出</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="body-content" class="clearfix row">

    <div id="left-side" class="col-sm-1 col-md-2">

        <div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-1">
                            <i class="fa-fw fa fa-github-square"></i>
                            产品管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-1" class="list-group panel-collapse collapse">
                    <a href="/product/" class="list-group-item">
                        <i class="fa-fw fa fa-apple"></i>
                        产品线列表</span>
                    </a>
                    <a href="/module/" class="list-group-item">
                        <i class="fa-fw fa fa-android"></i>
                        模块列表</span>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-2">
                            <i class="fa-fw fa fa-github"></i>
                            接口测试
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-2" class="list-group panel-collapse collapse">
                    <a href="/case_group/" class="list-group-item">
                        <i class="fa-fw fa fa-linux"></i>
                        用例组列表</span>
                    </a>
                    <a href="/interface/" class="list-group-item">
                        <i class="fa-fw fa fa-windows"></i>
                        用例列表</span>
                    </a>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-3">
                            <i class="fa-fw fa fa-html5"></i>
                            性能测试
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-3" class="list-group panel-collapse collapse in">
                    <a href="/performance/" class="list-group-item active">
                        <i class="fa-fw fa fa-google-plus"></i>
                        压测脚本列表</span>
                    </a>
                    <a href="/performance_result/" class="list-group-item">
                        <i class="fa-fw fa fa-renren"></i>
                        压测结果列表
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-4">
                            <i class="fa-fw fa fa-bar-chart-o"></i>
                            测试报告
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-4" class="list-group panel-collapse collapse">
                    <a href="/pyecharts/index/" class="list-group-item">
                        <i class="fa-fw fa fa-bars"></i>
                        接口测试报告
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-5">
                            <i class="fa-fw fa fa-github-alt"></i>
                            任务管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-5" class="list-group panel-collapse collapse">
                    <a href="/interval_schedule/" class="list-group-item">
                        <i class="fa-fw fa fa-backward"></i>
                        间隔时间列表</span>
                    </a>
                    <a href="/crontab_schedule/" class="list-group-item">
                        <i class="fa-fw fa fa-forward"></i>
                        定时时间列表</span>
                    </a>
                    <a href="/periodic_task/" class="list-group-item">
                        <i class="fa-fw fa fa-play-circle"></i>
                        任务设置列表</span>
                    </a>
                    <a href="/task_result/" class="list-group-item">
                        <i class="fa-fw fa fa-arrows-alt"></i>
                        任务结果列表</span>
                    </a>
                </div>
            </div>
        </div>


        <ul class="well nav nav-list nav-sitemenu show-sm">
            <li class="app_menu">
                <a href="/home/"><i class="icon fa-fw fa fa-home"></i></a>
                <hr/>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github-square"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/product/">
                            <i class="fa-fw fa fa-apple"></i>
                            产品线列表
                        </a>
                    </li>
                    <li>
                        <a href="/module/">
                            <i class="fa-fw fa fa-android"></i>
                            模块列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/case_group/">
                            <i class="fa-fw fa fa-linux"></i>
                            用例组列表
                        </a>
                    </li>
                    <li>
                        <a href="/interface/">
                            <i class="fa-fw fa fa-windows"></i>
                            用例列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu  active">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-html5"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a href="/performance/">
                            <i class="fa-fw fa fa-google-plus"></i>
                            压测脚本列表
                        </a>
                    </li>
                    <li>
                        <a href="/performance_result/">
                            <i class="fa-fw fa fa-renren"></i>
                            压测结果列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-bar-chart-o"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/pyecharts/index/">
                            <i class="fa-fw fa fa-bars"></i>
                            接口测试报告
                        </a>
                    </li>
                </ul>
            </li>

            <li class="app_menu dropdown-submenu ">
                <a href="#" class="section">
                    <i class="icon fa-fw fa fa-github-alt"></i>
                </a>
                <hr/>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/interval_schedule/">
                            <i class="fa-fw fa fa-backward"></i>
                            间隔时间列表
                        </a>
                    </li>
                    <li>
                        <a href="/crontab_schedule/">
                            <i class="fa-fw fa fa-forward"></i>
                            定时时间列表
                        </a>
                    </li>
                    <li>
                        <a href="/periodic_task/">
                            <i class="fa-fw fa fa-play-circle"></i>
                            任务设置列表
                        </a>
                    </li>
                    <li>
                        <a href="/task_result/">
                            <i class="fa-fw fa fa-arrows-alt"></i>
                            任务结果列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="content-block" class="col-sm-11 col-md-10">

        <ul class="breadcrumb">
            <li>
                <a href="/home/">首页</a>
            </li>
            <li>
                压测脚本列表
            </li>
        </ul>

        <div class="navbar content-navbar navbar-default navbar-xs">

            <div class="navbar-collapse collapse">

                <form class="navbar-form navbar-left" method="get">
                    {% csrf_token %}
                    <div class="input-group search-group">
                        <input id="searchbar" class="form-control" type="text"
                               name="form_script_introduce_s" value=""
                               placeholder="脚本简介" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search">搜索压测脚本</i>
                            </button>
                        </span>
                    </div>
                </form>

                <div class="navbar-btn pull-right hide-xs">
                    <a class="btn btn-primary" data-toggle="modal" href="#addPerformance">
                        <!-- 点击会触发增加压测脚本模态框 -->
                        <i class="fa fa-plus"></i>
                        增加压测脚本
                    </a>
                </div>
            </div>
        </div>

        <div class="results table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" class="sortable sorted ascending" style="width: 50px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                脚本ID
                            </a>
                        </div>
                    </th>
                    <th scope="col" class="sortable" style="width: 100px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                脚本简介
                            </a>
                        </div>
                    </th>
                    <th scope="col" class="sortable" style="width: 160px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                压测脚本
                            </a>
                        </div>
                    </th>
                    <th scope="col" class="sortable" style="width: 50px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                请求数
                            </a>
                        </div>
                    </th>
                    <th scope="col" class="sortable" style="width: 50px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                持续时间
                            </a>
                        </div>
                    </th>
                    <th scope="col" style="width: 50px">
                        <span style="color: red">运行次数</span>
                    </th>
                    <th scope="col" class="sortable" style="width: 80px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                创建时间
                            </a>
                        </div>
                    </th>
                    <th scope="col" class="sortable" style="width: 80px">
                        <div class="dropdown pull-left">
                            <a class="dropdown-toggle">
                                修改时间
                            </a>
                        </div>
                    </th>
                    <th scope="col" style="width: 50px">
                        <span style="color: orange">下载</span>
                    </th>
                    <th scope="col" style="width: 50px">
                        <span style="color: purple">运行</span>
                    </th>
                    <th scope="col" style="width: 50px">
                        <span style="color: green">修改</span>
                    </th>
                    <th scope="col" style="width: 50px">
                        <span style="color: blue">删除</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for i in pe_list %}
                    <tr class="grid-item">
                        <td id="performance_id_t">{{ i.id }}</td>
                        <td id="script_introduce_t">{{ i.script_introduce }}</td>
                        <td id="jmeter_script_t">{{ i.jmeter_script }}</td>
                        <td id="sample_number_t">{{ i.sample_number }}</td>
                        <td id="duration_t">{{ i.duration }}</td>
                        <td>
                            <span style="color: red">
                            {{ i.scripts.all.count }}
                                {# 反向统计所包含的外键的总数 #}
                            </span>
                        </td>
                        <td class="nowrap">{{ i.create_time }}</td>
                        <td class="nowrap">{{ i.update_time }}</td>
                        <td>
                            <a class="icon fa fa-download" style="color: orange"
                               href="/media/{{ i.jmeter_script }}">下载
                            </a>
                        </td>
                        <td>
                            <a class="icon fa fa-bug" style="color: purple"
                               data-toggle="modal"
                               href="#debugPerformance"
                               onclick="debugPerformanceId({{ i.id }}, '{{ i.script_introduce }}', '{{ i.jmeter_script }}', {{ i.sample_number }}, {{ i.duration }})">运行
                                <!-- 点击会触发运行压测脚本模态框 -->
                            </a>
                        </td>
                        <td>
                            <a class="icon fa fa-edit"
                               style="color: green"
                               data-toggle="modal"
                               href="#updatePerformance"
                               onclick="updatePerformance(this)">
                                <!-- 点击会触发修改压测脚本模态框 -->
                                修改
                            </a>
                        </td>
                        <td>
                            <a class="icon fa fa-times" style="color: blue"
                               data-toggle="modal"
                               href="#deletePerformance"
                               onclick="getPerformanceId({{ i.id }}, '{{ i.script_introduce }}', '{{ i.jmeter_script }}')">删除
                                <!-- 点击会触发删除压测脚本模态框 -->
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">

            <li>
                <span>
                    共<span class="text-success">{{ pe_count }}</span>压测脚本
                </span>
            </li>
            <li class="step-links">
                {% if pe_list.has_previous %}
                    <a href="?page=1">首页</a>
                    <a href="?page={{ pe_list.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第{{ pe_list.number }}页 共{{ pe_list.paginator.num_pages }}页
                </span>

                {% if pe_list.has_next %}
                    <a href="?page={{ pe_list.next_page_number }}">下一页</a>
                    <a href="?page={{ pe_list.paginator.num_pages }}">尾页</a>
                {% endif %}
            </li>

        </ul>

    </div>
</div>

<!-- 增加压测脚本模态框 -->
<div class="modal fade" id="addPerformance" tabindex="-1" role="dialog"
     aria-labelledby="addPerformanceLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addPerformanceLabel">增加压测脚本</h4>
            </div>
            <div class="modal-body">
                <form class="exform" enctype="multipart/form-data" action="/performance_add/" method="post"
                      id="performanceinfo_form">
                    {% csrf_token %}
                    <div class="form-container row clearfix">
                        <div class="column form-column main col col-sm-12 form-horizontal">
                            <div class="panel panel-default fieldset">
                                <div class="panel-heading">
                                    <i class='icon fa fa-chevron-up chevron'></i>
                                    <h3 class="panel-title">压测信息部分</h3>
                                </div>
                                <div class="panel-body ">
                                    <div id="div_id_script_introduce" class="form-group">
                                        <label for="id_script_introduce" class="control-label  requiredField">
                                            脚本简介<span class="asteriskField">*</span>
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_script_introduce_a"
                                                   class="text-field admintextinputwidget form-control"
                                                   maxlength="32" required id="id_script_introduce">
                                            <p id="hint_id_script_introduce" class="help-block">请输入压测脚本简介</p>
                                        </div>
                                    </div>
                                    <div id="div_id_jmeter_script" class="form-group">
                                        <label for="id_jmeter_script"
                                               class="control-label  requiredField">
                                            压测脚本<span class="asteriskField">*</span>
                                        </label>
                                        <div class="controls ">
                                            <input type="file" name="form_jmeter_script_a" class="adminfilewidget"
                                                   required id="id_jmeter_script">
                                            <p id="hint_id_jmeter_script" class="help-block">请上传JMeter脚本</p>
                                        </div>
                                    </div>
                                    <div id="div_id_sample_number" class="form-group">
                                        <label for="id_sample_number" class="control-label ">
                                            请求数
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_sample_number_a" value="1"
                                                   class="int-field adminintegerfieldwidget form-control"
                                                   id="id_sample_number">
                                            <p id="hint_id_sample_number" class="help-block">请输入请求数</p>
                                        </div>
                                    </div>
                                    <div id="div_id_duration" class="form-group">
                                        <label for="id_duration" class="control-label ">
                                            持续时间
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_duration_a" value="1"
                                                   class="int-field adminintegerfieldwidget form-control"
                                                   id="id_duration">
                                            <p id="hint_id_duration" class="help-block">请输入持续时间，单位：秒</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions well well-sm clearfix">
                        <button type="button" class="btn btn-info" data-dismiss="modal">
                            <i class="fa fa-undo"></i>
                            取消
                        </button>
                        <button type="submit" class="default btn btn-primary hide-xs">
                            <i class="fa fa-save"></i>
                            增加
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 修改压测脚本模态框 -->
<div class="modal fade" id="updatePerformance" tabindex="-1" role="dialog"
     aria-labelledby="updatePerformanceLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="updatePerformanceLabel">修改压测脚本</h4>
            </div>
            <div class="modal-body">
                <form class="exform" enctype="multipart/form-data" action="/performance_update/" method="post"
                      id="performanceinfo_form">
                    {% csrf_token %}
                    <input type="hidden" id="performance_id_u" name="form_performance_id_u" value="">
                    <div class="form-container row clearfix">
                        <div class="column form-column main col col-sm-12 form-horizontal">
                            <div class="panel panel-default fieldset">
                                <div class="panel-heading">
                                    <i class='icon fa fa-chevron-up chevron'></i>
                                    <h3 class="panel-title">压测信息部分</h3>
                                </div>
                                <div class="panel-body ">
                                    <div id="div_id_script_introduce" class="form-group">
                                        <label for="id_script_introduce" class="control-label  requiredField">
                                            脚本简介
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_script_introduce_u" value=""
                                                   class="text-field admintextinputwidget form-control"
                                                   maxlength="32" required id="script_introduce_u">
                                            <p id="hint_id_script_introduce" class="help-block">
                                                请输入压测脚本简介
                                            </p>
                                        </div>
                                    </div>
                                    <div id="div_id_jmeter_script" class="form-group">
                                        <label for="id_jmeter_script"
                                               class="control-label  requiredField">
                                            压测脚本
                                            <span class="asteriskField">*</span>
                                        </label>
                                        <div class="controls ">
                                            目前:
                                            <input type="text" class="text-field admintextinputwidget form-control"
                                                   id="jmeter_script_u_old" name="form_jmeter_script_u_old"
                                                   readonly="readonly">
                                            <br/>
                                            修改:
                                            <input type="file" name="form_jmeter_script_u_new" class="adminfilewidget"
                                                   id="id_jmeter_script">
                                            <p id="hint_id_jmeter_script" class="help-block">
                                                请上传JMeter脚本
                                            </p>
                                        </div>
                                    </div>
                                    <div id="div_id_sample_number" class="form-group">
                                        <label for="id_sample_number"
                                               class="control-label ">
                                            请求数
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_sample_number_u" value=""
                                                   class="int-field adminintegerfieldwidget form-control"
                                                   id="sample_number_u">
                                            <p id="hint_id_sample_number" class="help-block">
                                                请输入请求数
                                            </p>
                                        </div>
                                    </div>
                                    <div id="div_id_duration" class="form-group">
                                        <label for="id_duration" class="control-label ">
                                            持续时间
                                        </label>
                                        <div class="controls ">
                                            <input type="text" name="form_duration_u" value=""
                                                   class="int-field adminintegerfieldwidget form-control"
                                                   id="duration_u">
                                            <p id="hint_id_duration" class="help-block">
                                                请输入持续时间，单位：秒
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions well well-sm clearfix">
                        <button type="button" class="btn btn-info" data-dismiss="modal">
                            <i class="fa fa-undo"></i>
                            取消
                        </button>
                        <button type="submit" class="default btn btn-primary hide-xs">
                            <i class="fa fa-file-text"></i>
                            修改
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 删除压测脚本模态框 -->
<div class="modal fade" id="deletePerformance"
     tabindex="-1" role="dialog"
     aria-labelledby="deletePerformanceLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="deletePerformanceLabel">删除压测脚本</h4>
            </div>
            <div class="modal-body">

                <form action="/performance_delete/" method="post">
                    {% csrf_token %}
                    <input type="hidden"
                           id="performance_id_d"
                           name="form_performance_id_d"
                           value=""/>
                    <!-- 定义一个隐藏的input，用于传值 -->
                    <div class="alert alert-warning">
                        请确认要删除选中的压测脚本吗？它所包含的压测结果也将被删除！
                    </div>
                    <div class="alert alert-danger">
                        <p id="script_introduce_d"></p>
                        <br/>
                        <input type="text" class="text-field admintextinputwidget form-control"
                               id="jmeter_script_d_old" name="form_jmeter_script_d_old"
                               readonly="readonly">
                    </div>
                    <div class="form-actions well well-sm">
                        <button type="button" class="btn btn-info" data-dismiss="modal">
                            <i class="fa fa-undo"></i>
                            取消
                        </button>
                        <button type="submit" class="default btn btn-primary hide-xs">
                            <i class="fa fa-trash-o"></i>
                            删除
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 运行压测脚本模态框 -->
<div class="modal fade" id="debugPerformance" tabindex="-1" role="dialog"
     aria-labelledby="debugPerformanceLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="debugPerformanceLabel">运行压测脚本</h4>
            </div>
            <div class="modal-body">
                <form action="/performance_debug/" method="post">
                    {% csrf_token %}
                    <input type="hidden"
                           id="performance_id_b"
                           name="form_performance_id_b"
                           value="">
                    <!-- 定义一个隐藏的input，用于传值 -->
                    <div class="form-container row clearfix">
                        <div id="column-0"
                             class="column form-column main col col-sm-12 form-horizontal">
                            <div class="panel panel-default fieldset" id="box-0">
                                <div class="panel-heading">
                                    <i class='icon fa fa-chevron-up chevron'></i>
                                    <h3 class="panel-title">压测信息部分</h3>
                                </div>
                                <div class="panel-body ">
                                    <div id="div_id_script_introduce" class="value form-group row">
                                        <div class="control-label">脚本简介</div>
                                        <div class="controls">
                                            <p id="script_introduce_b" class="form-control-static "></p>
                                        </div>
                                    </div>
                                    <div id="div_id_jmeter_script" class="value form-group row">
                                        <div class="control-label">压测脚本</div>
                                        <div class="controls">
                                            <input type="text" class="text-field admintextinputwidget form-control"
                                                   id="jmeter_script_b" name="form_jmeter_script_b"
                                                   readonly="readonly">
                                        </div>
                                    </div>
                                    <div id="div_id_sample_number" class="value form-group row">
                                        <div class="control-label">请求数</div>
                                        <div class="controls">
                                            <p id="sample_number_b" class="form-control-static "></p>
                                        </div>
                                    </div>
                                    <div id="div_id_duration" class="value form-group row">
                                        <div class="control-label">持续时间</div>
                                        <div class="controls">
                                            <p id="duration_b" class="form-control-static "></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions well well-sm">
                        <button type="button" class="btn btn-info" data-dismiss="modal">
                            <i class="fa fa-undo"></i>
                            取消
                        </button>
                        <button type="submit" class="default btn btn-primary hide-xs">
                            <i class="fa fa-location-arrow"></i>
                            运行
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <hr/>
    <footer class="text-center">
        <p>测试部门</p>
    </footer>
</div>

<script>
    function updatePerformance(obj) {
        var tr = $(obj).parent().parent();
        var id = tr.children("td#performance_id_t").text().trim().replace(/\s/g, "");
        //trim().replace(/\s/g, "")去除空格、回车、空字符
        var introduce = tr.children("td#script_introduce_t").text().trim().replace(/\s/g, "");
        var script = tr.children("td#jmeter_script_t").text().trim().replace(/\s/g, "");
        var number = tr.children("td#sample_number_t").text().trim().replace(/\s/g, "");
        var duration = tr.children("td#duration_t").text().trim().replace(/\s/g, "");
        //取值
        $('#performance_id_u').val(id);
        $('#script_introduce_u').val(introduce);
        $('#jmeter_script_u_old').val(script);
        $('#sample_number_u').val(number);
        $('#duration_u').val(duration);
        //赋值
        console.log(id);
        console.log(introduce);
        console.log(script);
        console.log(number);
        console.log(duration);
        //打印日志
    }
</script>

<script>
    function getPerformanceId(ID, NAME, JMX) {
        $('#performance_id_d').val(ID);
        $('#script_introduce_d').html(NAME);
        $('#jmeter_script_d_old').val(JMX);
        console.log(ID);
        console.log(NAME);
        console.log(JMX);
    }

    //向删除模态框传递压测脚本id
</script>

<script>
    function debugPerformanceId(ID, NAME, JMX, NUMBER, TIME) {
        $('#performance_id_b').val(ID);
        $('#script_introduce_b').html(NAME);
        $('#jmeter_script_b').val(JMX);
        $('#sample_number_b').html(NUMBER);
        $('#duration_b').html(TIME);
        console.log(ID);
        console.log(NAME);
        console.log(JMX);
        console.log(NUMBER);
        console.log(TIME);
    }

    //向运行模态框传递压测脚本id
</script>

<!-- 二次确认弹窗 -->
<script>
    $(function () {
        $('#addPerformance .btn-primary').on('click',
            function () {
                alert('嘿，确认增加压测脚本吗？');
            });
        $('#addPerformance .btn-info').on('click',
            function () {
                alert('嘿，确认取消吗？');
            });

        $('#updatePerformance .btn-primary').on('click',
            function () {
                alert('嘿，确认修改压测脚本吗？');
            });
        $('#updatePerformance .btn-info').on('click',
            function () {
                alert('嘿，确认取消吗？');
            });

        $('#deletePerformance .btn-primary').on('click',
            function () {
                alert('嘿，确认删除压测脚本吗？');
            });
        $('#deletePerformance .btn-info').on('click',
            function () {
                alert('嘿，确认取消吗？');
            });
        $('#debugPerformance .btn-primary').on('click',
            function () {
                alert('嘿，确认运行压测脚本吗？');
            });
        $('#debugPerformance .btn-info').on('click',
            function () {
                alert('嘿，确认取消吗？');
            });
    });
</script>

<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.responsive.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.effect.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.portal.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.themes.js"></script>

</body>
</html>
